name: â– Providers functional tests

on:
  workflow_dispatch:
    inputs:
      providers:
        description: 'Providers list to test (space separated)'
        required: false
        default: 'coinbase binance'
  workflow_call:

concurrency: cd

permissions:
  contents: write
  checks: write
  id-token: write

jobs:
  providers-test:
    name: Provider specific tests
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2
        with:
          fetch-depth: 2

      - name: Run the script to get the list
        id: get_list
        run: |
          if [[ -n "${{ github.event.inputs.providers }}" ]]; then
            PROVIDERS_LIST="${{ github.event.inputs.providers }}"
          else  
            PROVIDERS_LIST=$(.github/scripts/get_provider_tests.sh ${{ github.event.before }} ${{ github.sha }})
          fi
          echo "PROVIDERS_LIST=$PROVIDERS_LIST" >> $GITHUB_ENV

      - name: Use the values
        if: env.PROVIDERS_LIST != ''
        run: |
          for value in $PROVIDERS_LIST; do
            echo "Current value: $value"
            # Run your command with "$value"
          done
