name: â– Providers functional tests

on:
  workflow_dispatch:
    inputs:
      providers:
        description: 'Providers list to test (space separated)'
        required: false
        default: 'coinbase binance'
  workflow_call:
    inputs:
      providers_directory:
        type: string
        required: true
        description: 'Directory where providers sources are located'

concurrency: cd

permissions:
  contents: write
  checks: write
  id-token: write

jobs:
  providers-test:
    name: Run provider specific tests
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2
        with:
          fetch-depth: 2

      - name: Determine Providers List
        id: get_list
        run: |
          if [[ -n "${{ github.event.inputs.providers }}" ]]; then
            PROVIDERS_LIST="${{ github.event.inputs.providers }}"
          else
            PROVIDERS_DIR="${{ inputs.providers_directory }}"
            CHANGED_FILES=$(git diff --name-only ${{ github.event.before }} ${{ github.sha }})
            PROVIDERS_LIST=""

            for file in $CHANGED_FILES; do
              if [[ $file == $PROVIDERS_DIR* ]]; then
                PROVIDER_TEST_NAME=$(echo $file | sed "s|^$PROVIDERS_DIR||" | sed 's|/|::|g' | sed 's|\.rs$||')
                PROVIDERS_LIST+="$PROVIDER_TEST_NAME "
              fi
            done
          fi
          echo "PROVIDERS_LIST=$PROVIDERS_LIST" >> $GITHUB_ENV

      - name: Use the values in Cargo
        if: env.PROVIDERS_LIST != ''
        run: |
          for value in $PROVIDERS_LIST; do
            echo "Current value: $value"
          done
